*{
    margin: 0;
    padding: 0;
}

:root{
    --cor-principal: #FFFFFF;
    --cor-secundaria: #000000;
    --cor-do-botao: #FFFFFF;
    --cor-de-fundo: #7638A2;
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--cor-principal);
}

.principal{
    background-image: url("img/Fundo.png");
    align-items: center;
    text-align: center;
}

.container-caixa{
    margin: 10px;
    padding: 30px;
 
}

.container-titulo{
    margin: 10px;
    padding: 20px;
    
}

.container{
    height: 100vh;
    margin: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    display: grid;
    grid-template-columns: 50% 50%;
  
}

.separar{
    padding: 50px;
}

.container-botao{
    display:block;
    margin: 5px;
}

.secundario-imagem{
    width: 70%;
    padding: 50px;
}

.secundario{
    align-items: center;
    margin: 15px;
}

.descricao-titulo{
    margin-bottom: 0.7em;
    font-weight: 2000;
    font-size: 33px;
    color: var(--cor-principal);
}

.descricao-texto{
    margin: 5px;
}

.container-descricao-2{
    margin: 20px;
}

.terciario{
    align-items: center;
    margin: 15px;
}

.terciario-imagem{
    width: 70%;
    margin: 20px;
}

.container-terciario{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 230px;
}

.quartenario{
    align-items: center;
    margin: 15px;
}

.quartenario-imagem{
    width: 60%;
    margin: 60px;
}

.container-quartenario{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 230px;
}

.container-descricao{
    margin: 30px;
}

.descricao-titulo-4{
    margin-bottom: 0.7em;
    font-weight: 2000;
    font-size: 33px;
    color: var(--cor-principal);
}