*{
    margin: 0;
    padding: 0;
}

:root{
    --cor-principal: #FFFFFF;
    --cor-secundaria: #000000;
    --cor-do-botao: #FFFFFF;
    --cor-de-fundo: #7638A2;
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--cor-principal);
}

.principal{
    background-image: url("img/Fundo.png");
}

.container{
    height: 100vh;
    background-repeat: no-repeat;
    background-size: contain;
}

.container-botao{
    display:block;
}